<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 1 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-label
    >Scan value does not show until stoped (video not showing either)
  </ion-label>
  <!-- *ngIf="!scanning" -->
  <ion-button (click)="startScan()">scan</ion-button>
  <!-- stop not working properly -->
  <!-- <ion-button (click)="stopScan()" *ngIf="scanning">stop</ion-button> -->
  <ion-label>{{result.content}}</ion-label>
  <video
    width="400px"
    height="200px"
    playsinline="true"
    autoplay="true"
  ></video>
</ion-content>
